CORS_ORIGIN=http://localhost:5173
PORT=3000
AUTH0_AUDIENCE=https://CityOS/api
AUTH0_DOMAIN="your_auth0_domain_here"
GOOGLE_APPLICATION_CREDENTIALS="config/gee-service-account.json"
CLOUDINARY_CLOUD_NAME="your_cloudinary_cloud_name"
CLOUDINARY_API_KEY="your_cloudinary_api_key"
CLOUDINARY_API_SECRET="your_cloudinary_api_secret"
EMAIL_USERNAME="your_email_address@example.com"
EMAIL_PASSWORD="your_email_app_password"
PYTHON_SERVER=http://localhost:8000
RABBIT_URL="amqps://<username>:<password>@puffin.rmq2.cloudamqp.com/<username>"
MOBILE_ORIGIN=http://10.189.45.166:8081
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.mongodb.net/<dbname>"
REDIS_HOST="your_redis_host.redislabs.com"
REDIS_PORT=14285
REDIS_PASSWORD="your_redis_password"
APIFY_API_TOKEN="your_apify_api_token"
TAVILY_API_KEY="your_tavily_api_key_here"
GOOGLE_API_KEY="your_google_api_key_here"
